.member-container{
    border-radius: 10px;
    height: 30vh;
    width: 30vh;
    position: relative;
    overflow: hidden;
    margin: 10px 20px;
    display: inline-block;
    text-align: center;
}
.member-container>img{
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    transition: all 200ms ease;
}
.member-container>div{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 14, 27, 0.5);
    transition: all ease 140ms;
    font-family: Posterama;
    font-size: 1em;
    color: white;
}
.member-container>div:hover{
    opacity: 1;
}
.member-container>div:hover span{
    margin-top: 0px;
}

.president-container{
    border-radius: 10px;
    height: 14em;
    width: 14em;
    position: relative;
    overflow: hidden;
    margin: 10px 20px;
    display: inline-block;
    text-align: center;
}
.president-container>img{
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    transition: all 200ms ease;
}
.president-container>div{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 14, 27, 0.5);
    transition: all ease 140ms;
    font-family: Posterama;
    font-size: 3vw;
    color: white;
}
.president-container>div:hover{
    opacity: 1;
}
.president-container>div:hover span{
    margin-top: 0px;
}

.m-position{
    color: #64B5F5;
    font-size: 0.8em;
}

.m-field{
    color: #64B5F5;
    font-size: 0.8em;
}

