.navbar-container{
    height: 70px;
    line-height: 70px;
    padding: 20px 15vw;
    position: fixed;
    top: 0px;
    z-index:10000;
    width:100%;
}

.n-logo{
    float: left;
    opacity: 0.5;
    transition: all linear 120ms;
}
.n-logo:hover{
    opacity: 1;
}
.n-items{
    right: 100px;
}
.n-items>a{
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    margin: 0px 10px;
    font-size: 0.8em;
    opacity: 0.6;
    transition: all linear 120ms;
}

.n-items>a:hover{
    border-bottom: 5px solid purple;
    opacity: 1;
}

@media only screen and (max-width: 770px) {
    .n-logo{
        max-width: 8vw;
        margin-left: -10vw;
    }
    .n-items{
        display: none;
    }
    .navbar-container{
        color: transparent;
        position: inherit;
    }
}
@media only screen and (max-width: 1200px) {
    .n-items{
        margin-right: 30%;
    }
}