.navbar-container{
    height: 70px;
    line-height: 70px;
    padding: 20px 15vw;
}

.n-logo{
    float: left;
    opacity: 0.5;
    transition: all linear 120ms;
}
.n-logo:hover{
    opacity: 1;
}
.n-items{
    float: right;
}
.n-items>a{
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    margin: 0px 10px;
    font-size: 0.8em;
    opacity: 0.6;
    transition: all linear 120ms;
}

.n-items>a:hover{
    border-bottom: 5px solid purple;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .n-logo{
        max-width: 8vw;
        margin-left: -10vw;
    }
    .n-items{
        display: none;
    }
}