.navbar-container{
    height: 70px;
    line-height: 70px;
    padding: 10px 0vw 10px 15vw;
    position: fixed;
    
    top: 0px;
    z-index:10000;
    width:100%;
}

.n-logo{
    float: left;
    margin-top: 10px;
    margin-left: -12vw;
    opacity: 0.5;
    transition: all linear 120ms;
}
.n-tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83%;
    margin-right: 2vw;
}
.n-logo:hover{
    opacity: 1;
}

.n-items{
    right: 0px;
    display: inline-block;
}
.n-items>a{
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: white;
    margin: 0px 40px 0px 0px;
    font-size: 0.8em;
    opacity: 0.6;
    transition: all linear 120ms;
}

.n-items>a:hover{
    border-bottom: 5px solid purple;
    opacity: 1;
}

.n-buttons{
    max-height: 50px;
    display: flex;
}

@media only screen and (max-width: 800px) {
    .n-logo{
        max-width: 8vw;
        margin-left: -10vw;
    }
    .n-items{
        display: none;
    }
    .navbar-container{
        color: transparent;
        /* position: inherit; */
    }
}
@media only screen and (max-width: 1200px) {
    .n-items{
        margin-right: 30%;
    }
    .n-buttons{
        display: none;
    }
}