@font-face {
  font-family: 'Posterama';
  src: url("/fonts/Posterama 2001 W04 SemiBold.ttf") format("opentype");
}

.tickerShell {
  align-self: stretch;
  display: flex;
  /* border: 1px solid white; */
  padding: 60px;
  justify-content: center;
}
.tickerShell .timeIsUp {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Posterama';
}

@media only screen and (max-width: 850px) {
  .tickerShell {
    align-self: stretch;
    display: flex;
    padding: 20px;
  }
  .tickerShell .timeIsUp {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
  }
}

@media only screen and (max-width: 300px) {
  .tickerShell {
    align-self:center;
  }
}